<div class="content clear-fix">
    <div class="iso-100 clear-fix">
        <div class="video-responsive">
            <iframe width="auto" height="auto" src="<?=$data['page']['link']?>" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="iso-100 a-videos clear-fix">
        <?=$data['page']['about']?>
    </div>
    <div class="bot_gif">
        <figure>
            <div class="container">
                <img src="<?=$data['page']['img0']?>">
            </div>
        </figure>
    </div>
    <div class="bot_gif">
        <figure>
            <div class="container">
                <img src="<?=$data['page']['img1']?>">
            </div>
        </figure>
    </div>
</div>

