<h3>Edit page</h3><br/>
<form method="post" action="">
    <input type="hidden" name="id" value="<?=$data['gif']['id']?>" />
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<?=$data['gif']['title']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="illustrator">Illustrator</label>
        <input type="text" id="illustrator" name="illustrator" value="<?=$data['gif']['illustrator']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="animator">Motion Designer</label>
        <input type="text" id="animator" name="animator" value="<?=$data['gif']['animator']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="gif">GIF</label>
        <input type="text" id="gif" name="gif" value="<?=$data['gif']['gif']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="is_published">Publish?</label>
        <input type="checkbox" name="is_published" id="is_published" <?php if ($data['gif']['is_published']) { ?> checked="checked"<?php } ?>/>
    </div>
    <input type="submit" value="Confirm" class="btn btn-success"/>
</form>